[submodule "teensy_loader_cli"]
	path = teensy_loader_cli
	url = https://github.com/PaulStoffregen/teensy_loader_cli
[submodule "tmk_keyboard"]
	path = tmk_keyboard
	url = git@github.com:pvphan/tmk_keyboard
[submodule "ghkb"]
	path = ghkb
	url = git@github.com:pvphan/ghkb
[submodule "bglib_jrow"]
	path = bglib_jrow
	url = https://github.com/jrowberg/bglib
[submodule "boombox"]
	path = boombox
	url = git@github.com:theSadnap/boombox
[submodule "bgapi_mjbrown"]
	path = bgapi_mjbrown
	url = https://github.com/mjbrown/bgapi
[submodule "teensy"]
	path = teensy
	url = https://github.com/dbrady/teensy
